{{ define "header" }}
<style type="text/css">
    header.intro-header {
        background-image: url('{{ if .Params.image }}{{ .Params.image | relURL }}{{ else }}{{ .Site.Params.header_image | relURL}}{{ end }}')
    }
</style>
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ .Title }}</h1>
                    {{- if .Description }}
                    <h2 class="subheading">{{ .Description | markdownify }}</h2>
                    {{- end }}
                    <span class="meta">
                        {{- with .CurrentSection.Title }}
                        <span class="garden-status">{{ . }}</span> &middot;
                        {{- end }}
                        {{- with .Params.status }}
                        <span class="garden-status">{{ . }}</span> &middot;
                        {{- end }}
                        {{- with .Date }}
                        <time datetime="{{ .Format "2006-01-02" }}">{{ .Format "Monday, January 2, 2006" }}</time>
                        {{- end }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
{{ end }}

{{ define "main" }}
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">
                {{ .Content }}
                <hr>
                <a href="{{ "/garden/" | relURL }}">&larr; Back to Garden</a>
            </div>
        </div>
    </div>
</article>
{{ end }}
