{{ if .Params.coverImage }}
  {{ if (findRE "^/" .Params.coverImage 1) }}
    {{ .Scratch.Set "coverImageURL" (.Params.coverImage | relURL) }}
  {{ else }}
    {{ .Scratch.Set "coverImageURL" (path.Join .RelPermalink .Params.coverImage) }}
  {{ end }}
  <div class="post-header-cover
              {{ if .Params.metaalignment }}text-{{ .Params.metaalignment }}{{ else }}text-left{{ end }}
              {{ with .Params.coversize }}post-header-cover--{{ . }}{{ end }}"
       style="background-image:url('{{ .Scratch.Get "coverImageURL" }}')"
       data-behavior="{{ $.Scratch.Get "sidebarBehavior" }}">
    {{ if or (eq .Params.covermeta "in") (not .Params.covermeta) }}
      {{ partial "post/header.html" . }}
    {{ end }}
  </div>
{{ end }}
