<script type="application/ld+json">
{{ if eq .Section "posts" }}
{{- $keywords := slice -}}
{{- with .Keywords -}}
  {{- $keywords = . -}}
{{- end -}}
{{- if .Site.Params.keywords -}}
  {{- $keywords = $keywords | append .Site.Params.keywords -}}
{{- end -}}
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ .Title | jsonify }},
  {{- if .Params.coverimage }}
  "image": {{ .Params.coverImage | absURL | jsonify }},
  {{- else if .Params.thumbnailImage }}
  "image": {{ .Params.thumbnailImage | absURL | jsonify }},
  {{- end }}
  "datePublished": {{ .PublishDate | time.Format "2006-01-02T15:04:05Z07:00" | jsonify }},
  "dateModified": {{ .Lastmod | time.Format "2006-01-02T15:04:05Z07:00" | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ .Site.Params.author.name | jsonify }}
    {{- with ($.Scratch.Get "authorPicture") }},
    "image": {{ . | jsonify }}
    {{- end }}
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink | jsonify }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ .Site.Title | jsonify }}
    {{- with ($.Scratch.Get "authorPicture") }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ . | jsonify }}
    }
    {{- end }}
  },
  "description": {{ .Summary | plainify | jsonify }},
  "keywords": {{ $keywords | jsonify }}
}
{{- else -}}
{{- $keywords := slice -}}
{{- with .Keywords -}}
  {{- $keywords = . -}}
{{- end -}}
{{- if .Site.Params.keywords -}}
  {{- $keywords = $keywords | append .Site.Params.keywords -}}
{{- end -}}
{
  "@context": "https://schema.org",
  "@type": "Website",
  "@id": {{ .Site.BaseURL | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ .Site.Params.author.name | jsonify }}
    {{- with ($.Scratch.Get "authorPicture") }},
    "image": {{ . | jsonify }}
    {{- end }}
  },
  "name": {{ .Site.Title | jsonify }},
  "description": {{ if .Description }}{{ .Description | jsonify }}{{ else if .IsPage }}{{ .Summary | jsonify }}{{ else }}{{ .Site.Params.description | jsonify }}{{ end }},
  "url": {{ .Permalink | jsonify }},
  "keywords": {{ $keywords | jsonify }}
}
{{- end }}
</script>
